:root ._ff-f-family{font-family:var(--f-family);}
:root ._dsp-inline{display:inline;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._ws-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-color11{color:var(--color11);}
:root ._fs-42px{font-size:42px;}
:root ._fw-700{font-weight:700;}
:root ._col-color10{color:var(--color10);}
:root ._fs-14px{font-size:14px;}
:root ._fs-13px{font-size:13px;}
:root ._fw-600{font-weight:600;}
:root ._col-904BFF35{color:#904BFF;}
:root ._dsp-flex{display:flex;}
:root ._items-stretch{align-items:stretch;}
:root ._fb-auto{flex-basis:auto;}
:root ._pos-relative{position:relative;}
:root ._minH-0px{min-height:0px;}
:root ._minW-0px{min-width:0px;}
:root ._shrink-0{flex-shrink:0;}
:root ._fd-row{flex-direction:row;}
:root ._gap-t-space-4{gap:var(--t-space-4);}
:root ._col-color12{color:var(--color12);}
:root ._fs-36px{font-size:36px;}
:root ._fw-800{font-weight:800;}
:root ._fs-12px{font-size:12px;}
:root ._fd-column{flex-direction:column;}
:root ._gap-t-space-2{gap:var(--t-space-2);}
:root ._select-auto{user-select:auto;-webkit-user-select:auto;}
:root ._ws-normal{white-space:normal;}
:root ._ls-f-letterSpa1360334197{letter-spacing:var(--f-letterSpacing-9);}
:root ._fs-18px{font-size:18px;}
:root ._lh-f-lineHeigh112928{line-height:var(--f-lineHeight-9);}
:root ._lh-18px{line-height:18px;}