:root ._ff-f-family{font-family:var(--f-family);}
:root ._dsp-inline{display:inline;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._ws-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-red10{color:var(--red10);}
:root ._dsp-flex{display:flex;}
:root ._items-stretch{align-items:stretch;}
:root ._fb-auto{flex-basis:auto;}
:root ._pos-relative{position:relative;}
:root ._minH-0px{min-height:0px;}
:root ._minW-0px{min-width:0px;}
:root ._shrink-0{flex-shrink:0;}
:root ._fd-column{flex-direction:column;}
:root ._gap-t-space-4{gap:var(--t-space-4);}
:root ._gap-t-space-3{gap:var(--t-space-3);}
:root ._col-color11{color:var(--color11);}
:root ._fs-15px{font-size:15px;}
:root ._grow-1{flex-grow:1;}
:root ._shrink-1{flex-shrink:1;}
:root ._ml-t-space-2{margin-left:var(--t-space-2);}
:root ._col-color9{color:var(--color9);}
:root ._fs-f-size-2{font-size:var(--f-size-2);}